<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<div class="container" style="background-color: rgb(23, 33, 49);">
  <div class="search-box">
    <input type="text" placeholder="Enter location..." id="location" [(ngModel)]="searchQuery" />
    <button (click)="searchlocation()"><i class="fas fa-search"></i></button>
  </div>

  <div class="current-weather">
    <h2 id="city-name">{{apiData.location.name}}({{apiData.location.region}})</h2>
    <p id="date">{{apiData.location.localtime | date:'EEEE, MMMM d, y'}}</p>
    <div class="weather-icon" *ngIf="apiData.current.condition.text == 'Patchy rain nearby'">
      <i class="fa-solid fa-cloud-rain"></i>
      <!-- <i class="fas fa-sun"></i> -->
    </div>
    <div class="weather-icon" *ngIf="apiData.current.condition.text == 'Mist'">
      <i class="fa-solid fa-cloud-rain"></i>
    </div>
    <div class="weather-icon" *ngIf="apiData.current.condition.text == 'Heavy rain'">
      <i class="fa-solid fa-cloud-showers-heavy"></i>
    </div>
    <div class="weather-icon" *ngIf="apiData.current.condition.text == 'Moderate rain' || apiData.current.condition.text == 'Moderate or heavy rain shower'">
      <i class="fa-solid fa-cloud-showers-water"></i>
    </div>
    <div class="weather-icon" *ngIf="apiData.current.condition.text == 'Partly Cloudy' || apiData.current.condition.text == 'Partly cloudy' || apiData.current.condition.text == 'Partly Cloudy '">
      <i class="fa-solid fa-smog"></i>
    </div>
    <div class="weather-icon" *ngIf="apiData.current.condition.text == 'Sunny'">
      <i class="fas fa-sun"></i>
    </div>
    <div class="weather-icon" *ngIf="apiData.current.condition.text == 'Light rain shower'">
      <i class="fa-solid fa-umbrella"></i>
    </div>
    <p id="temp">{{apiData.current.temp_c}}°C</p>
    <p id="description">{{apiData.current.condition.text}}</p>
    <p id="description">Humidity: {{apiData.current.humidity}}</p>
    <p id="description">UV: {{apiData.current.uv}}</p>
    <p id="description">Wind speed: {{apiData.current.wind_kph}} kph</p>
    <p id="description">Real feel: {{apiData.current.feelslike_c}} °C</p>
  </div>

  <div class="forecast" style="align-items: center;">
    <div class="day" *ngFor="let weather of forcastData ;let i = index">
      <p class="day-name">{{weather.date | date: 'EEE'}}</p>
      <div class="forecast-icon" *ngIf="weather.day.condition.text == 'Heavy rain'"><i class="fas fa-cloud-showers-heavy"></i></div>
      <div class="forecast-icon" *ngIf="weather.day.condition.text == 'Moderate rain' || weather.day.condition.text == 'Moderate or heavy rain shower'"><i class="fa-solid fa-droplet"></i></div>
      <div class="forecast-icon" *ngIf="weather.day.condition.text == 'Patchy rain nearby'"><i class="fa-solid fa-cloud-rain"></i></div>
      <div class="forecast-icon" *ngIf="weather.day.condition.text == 'Partly Cloudy'|| weather.day.condition.text == 'Partly Cloudy ' || weather.day.condition.text == 'Partly cloudy' || weather.day.condition.text == 'Partly cloudy '"><i class="fa-solid fa-smog"></i></div>
      <div class="forecast-icon" *ngIf="weather.day.condition.text == 'Sunny'"><i class="fas fa-sun"></i></div>
      
      <p class="day-temp">{{weather.day.avgtemp_c}}°C</p>
      <p class="day-desc">{{weather.day.condition.text}}</p>
    </div>
    <!-- <div class="day">
      <p class="day-name">Tue</p>
      <div class="forecast-icon"><i class="fas fa-sun"></i></div>
      <p class="day-temp">27°C</p>
      <p class="day-desc">Sunny</p>
    </div>
    <div class="day">
      <p class="day-name">Wed</p>
      <div class="forecast-icon">
        <i class="fas fa-cloud-showers-heavy"></i>
      </div>
      <p class="day-temp">29°C</p>
      <p class="day-desc">Rainy</p>
    </div>
    <div class="day">
      <p class="day-name">Thu</p>
      <div class="forecast-icon"><i class="fas fa-wind"></i></div>
      <p class="day-temp">23°C</p>
      <p class="day-desc">Windy</p>
    </div>
    <div class="day">
      <p class="day-name">Fri</p>
      <div class="forecast-icon"><i class="fas fa-sun"></i></div>
      <p class="day-temp">25°C</p>
      <p class="day-desc">Sunny</p>
    </div> -->
  </div>
</div>
