<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="container" style="background-color: rgba(7, 20, 43, 0.753); padding: 20px; border-radius: 15px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); overflow: auto; margin: auto; max-height: 90vh;" *ngIf="queryData != ''">
  <!-- Loader -->
  <div class="loader" *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <i class="fas fa-spinner fa-spin" style="font-size: 3rem; color: #ffcc00;"></i>
  </div>

  <!-- Content -->
  <div *ngIf="!loading">
    <div class="search-box" style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
      <input type="text" placeholder="Search by city(state/region), ZIP code, or Coordinate" id="location" [(ngModel)]="searchQuery" (keyup.enter)="searchlocation()" style="padding: 10px; width: 60%; border-radius: 10px; border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" />
      <button (click)="searchlocation()" style="margin-left: 10px; background-color: #ffcc00; border: none; border-radius: 10px; padding: 10px 20px; color: white; cursor: pointer;">
        <i class="fas fa-search"></i>
      </button>

      <!-- Location Permission Icon -->
      <div style="display: flex; align-items: center; margin-left: 30px;">
        <button (click)="GetLocation()" style="background-color: #007bff38; border: none; border-radius: 50%; padding: 5px; color: white; cursor: pointer; width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;">
          <i class="fas fa-location" style="font-size: 20px;"></i>
        </button>

        <!-- Alert Icon with Popup -->
        <div class="alert-icon-container" style="margin-left: 30px;" *ngIf="hasAlert == true">
          <i class="fas fa-exclamation-triangle" style="color: #d30000; font-size: 30px; cursor: pointer;" (mouseenter)="showAlert = true" (mouseleave)="showAlert = false"></i>

          <!-- Alert Popup -->
          <div class="alert-popup">
            <ul style="list-style-type: none; padding: 0; margin: 0;">
              <li *ngFor="let alert of alerts" style="margin-bottom: 10px; align-items: left; text-align: left;">
                <strong style="color:rgb(255, 149, 135);">Headline:- {{ alert.headline ? alert.headline : 'NA' }}</strong> <br>
                <strong style="color:rgb(235, 145, 60);">Category:- {{ alert.category ? alert.category : 'NA'}}</strong> <br>
                <strong style="color:rgb(243, 89, 34);">Severity:- {{ alert.severity ? alert.severity : 'NA' }}</strong> <br>
                <strong style="color:rgb(243, 89, 34);">Event:- {{ alert.event ? alert.event :'NA'}}</strong> <br>
                <strong style="color:rgb(69, 206, 103);">Urgency:- {{ alert.urgency ? alert.urgency :'NA'}}</strong> <br>
                <strong style="color:rgb(231, 233, 119);">Areas:- {{ alert.areas ? alert.areas : 'NA' }}</strong> <br>
                <strong style="color:rgb(56, 153, 61);">Start:- {{ alert.effective ? (alert.effective | date: 'MMM d, y, h:mm a') : 'NA' }}</strong> <br>
                <strong style="color:rgb(95, 132, 235);">End:- {{ alert.expires ? (alert.expires | date: 'MMM d, y, h:mm a') : 'NA' }}</strong> <br>
                <strong style="color:rgb(170, 246, 252);">Instruction:- {{ alert.instruction ? alert.instruction :'NA'}}</strong> <br>
                <strong style="color:rgb(24, 100, 81);">Description:</strong><p style="font-size: 0.9rem; color:rgb(235, 235, 235);">{{ alert.desc }}</p><br>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="current-weather" style="text-align: center; color: white;">
      <h2 id="city-name" style="font-size: 2.5rem; font-weight: 700; color: #ffcc00;">{{apiData.location.name}} ({{apiData.location.region}})</h2>
      <p id="date" style="font-size: 1.2rem; margin-bottom: 30px;">{{apiData.location.localtime | date: 'EEEE, MMMM d, y'}}</p>

      <p id="temp" style="font-size: 3rem; font-weight: 700; margin-top: 20px;">{{apiData.current.temp_c}}°C</p>
      <p id="description" style="font-size: 1.2rem; font-weight: 400;">Condition: {{apiData.current.condition.text}}</p>
      <p id="temp-range" style="font-size: 1.2rem; font-weight: 700; margin-top: 10px; color: #ffcc00">
        Max: {{apiData.forecast.forecastday[0].day.maxtemp_c}}°C | Min: {{apiData.forecast.forecastday[0].day.mintemp_c}}°C
      </p>
      
  
      <p id="temp" style="font-size: 1.2rem; font-weight: 700; margin-top: 20px;">
        Air Quality: {{aiq}}
      </p>
      <p id="aiq-description" [ngStyle]="getAiqStyle()" style="font-size: 1.2rem; font-weight: 400; margin-top: 10px;">
        {{getAiqDescription()}}
      </p>

      <div class="details" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 10px; margin-top: 30px;">
        <p style="font-size: 1rem; text-align: center;"><i class="fas fa-tint"></i> Humidity: {{apiData.current.humidity}} %</p>
        <p style="font-size: 1rem; text-align: center;"><i class="fas fa-thermometer-half"></i> Real Feel: {{apiData.current.feelslike_c}} °C</p>
        <p style="font-size: 1rem; text-align: center;"><i class="fas fa-wind"></i> Wind Speed: {{apiData.current.wind_kph}} kph</p>
        <p style="font-size: 1rem; text-align: center;"><i class="fas fa-cloud"></i> Cloud Cover: {{apiData.current.cloud}} %</p>
        <p style="font-size: 1rem; text-align: center;"><i class="fas fa-sun"></i> UV Index: {{apiData.current.uv}}</p>
        <p style="font-size: 1rem; text-align: center;"><i class="bi bi-speedometer2"></i> Pressure: {{apiData.current.pressure_mb}} mb</p>
        <p style="font-size: 1rem; text-align: center;"><i class="fa-solid fa-location-arrow"></i> Wind Direction: {{apiData.current.wind_dir}}</p>
        <p style="font-size: 1rem; text-align: center;"><i class="fa-solid fa-cloud-rain"></i> Precipitation: {{apiData.current.precip_mm}} mm</p>
      </div>
    </div>

    <div class="forecast" style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 40px;">
      <div class="day" *ngFor="let weather of forcastData; let i = index" (click)="selectday(i)" style="background: linear-gradient(145deg, rgba(50, 70, 90, 1), rgba(25, 35, 50, 1)); padding: 15px; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); width: 18%; text-align: center; cursor: pointer;">
        <p class="day-name" style="font-size: 1.2rem; color: #ffcc00;">{{weather.date | date: 'EEE'}}</p>
        <p class="day-temp" style="font-size: 1.4rem; color: white; margin-top: 10px;">{{weather.day.avgtemp_c}}°C</p>
        <!-- Max and Min Temp (smaller text) -->
        <p class="day-temp-range" style="font-size: 0.9rem; color: #ffcc00; margin-top: 5px;">
          {{weather.day.maxtemp_c}}°C | {{weather.day.mintemp_c}}°C
        </p>
        <p class="day-desc" style="font-size: 1rem; color: rgb(255, 255, 255);">{{weather.day.condition.text}}</p>
      </div>
    </div>
  </div>
</div>
<div class="no-location-card" *ngIf="errormodel == true">
  <div class="icon">
    <i class="fas fa-exclamation-triangle"></i>
  </div>
  <div class="message">
    <h2>Location Not Found</h2>
    <p>We couldn't retrieve your location. Please check your settings or enter a location manually.</p>
  </div>
  <button class="try-again-btn" (click)="reload()">Try Again</button>
</div>
