/* Global Styles */
.toast-error {
  background-color: #dc3545; /* Red for error */
  color: #fff; /* White text */
}

body.landingpage {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  
}

/* Background Container */
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures it stays behind other content */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.giphy-embed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%; /* Add this to prevent the GIF from exceeding the container's width */
  max-height: 100%;
}
