<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<div class="container2 modal fade" id="details" tabindex="-1" aria-labelledby="detailsLabel" aria-hidden="true" style="background-color: rgba(7, 20, 43, 0.753); backdrop-filter: blur(10px); box-shadow: 0 8px 16px rgba(0, 0, 0, 0.596); padding: 20px; color: white;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <h5 id="detailsLabel" style="color: #ffbb00">Hourly Forecast</h5>
      </div>

      <div class="details-row" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 20px; padding: 20px; background-color: rgb(28, 38, 53); border-radius: 15px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);">
        <!-- Left Section: City Name and Date -->
        <div class="left-section" style="flex: 1; padding: 20px; background: linear-gradient(145deg, rgba(45, 59, 74, 1), rgba(34, 47, 63, 1)); border-radius: 15px; display: flex; flex-direction: column;">
          <div class="card" style="color: white; background: transparent; border: none; box-shadow: none; flex: 1;">
            <p style="font-weight: bold; font-size: 1.2rem; margin-bottom: 15px;">📍 Location </p>
            <!-- <p style="font-weight: bold; font-size: 1.2rem; margin-bottom: 15px;" *ngIf="IsDay == 0">📍 Location <i class="fas fa-moon" style="padding-left: 18px;"></i>Night</p> -->
            <h3 id="city-name" style="margin-bottom: 10px; font-weight: 600;">{{locationDetails.name}} ({{locationDetails.region}})</h3>
            <p id="date" style="margin-bottom: 20px; font-size: 1rem; color: rgba(255, 255, 255, 0.7);">{{locationDetails.localtime | date:'EEEE, MMMM d, y'}}</p>
            
            <p id="avg-temp" style="margin-bottom: 10px; font-size: 1.1rem; color: #ffcc00;">
              Temp: {{selectedDay.day.avgtemp_c}} °C
            </p>
            <p style="margin-bottom: -5px; margin-top: -15px;">
              <img [src]="selectedDay.day.condition.icon" alt="weather icon" style="width: 40px; height: 40px;" />
            </p>
            <p id="temp-range" style="margin-bottom: -5px; font-size: 1rem; color: rgba(255, 255, 255, 0.9);">
              <i class="fa-solid fa-arrow-up" style="color: rgb(235, 91, 34);"></i> {{selectedDay.day.maxtemp_c}} °C  <i class="fa-solid fa-arrow-down" style="color: #3498db;"></i> {{selectedDay.day.mintemp_c}} °C
            </p>
            <p id="date" style="margin-bottom: 20px; font-size: 1.3rem; color: rgba(255, 255, 255, 0.7);">Chance of Rain: {{selectedDay.day.daily_chance_of_rain}} %</p>
          </div>
        </div>
      
        <!-- Right Section: Sunrise/Sunset/Moonrise/Moonset Card -->
        <div class="right-section" style="flex: 1; padding: 15px; background: linear-gradient(145deg, rgba(45, 59, 74, 1), rgba(34, 47, 63, 1)); border-radius: 15px; display: flex; flex-direction: column;">
          <div class="card" style="color: white; background: transparent; border: none; box-shadow: none; flex: 1;">
            <p style="font-weight: bold; font-size: 1.2rem; margin-bottom: 15px;">🌟 Astro Data</p>
            <ul class="list-group list-group-flush" style="list-style-type: none; padding-left: 0; font-size: 1.2rem;">
              <li class="list-group-item" style="background-color: transparent; color: white; padding: 10px 0; border: none;">
                <i class="fas fa-sun"></i> Sunrise: {{selectedDay.astro.sunrise}}
              </li>
              <li class="list-group-item" style="background-color: transparent; color: white; padding: 10px 0; border: none;">
                <i class="fas fa-cloud-sun"></i> Sunset: {{selectedDay.astro.sunset}}
              </li>
              <li class="list-group-item" style="background-color: transparent; color: white; padding: 10px 0; border: none;">
                <i class="fas fa-moon"></i> Moonrise: {{selectedDay.astro.moonrise}}
              </li>
              <li class="list-group-item" style="background-color: transparent; color: white; padding: 10px 0; border: none;">
                <i class="fa-solid fa-cloud-moon"></i> Moonset: {{selectedDay.astro.moonset}}
              </li>
              <li class="list-group-item" style="background-color: transparent; color: white; padding: 10px 0; border: none;">
                🌕 Moon Phase: {{selectedDay.astro.moon_phase}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="modal-body" style="max-height: 400px; padding: 20px; background-color: rgb(28, 38, 53); border-radius: 15px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);">
        <!-- Hourly Weather Details -->
        <div class="hourly-weather">
          <!-- Column Headers -->
          <div class="hourly-headers" style="position: sticky; top: 0; display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; padding: 10px; background-color: rgba(45, 59, 74, 0.8); border-radius: 10px; z-index: 1;">
            <div class="header-time" style="flex-basis: 10%; color: #ffcc00; font-weight: bold; text-align: left; padding-right: 5px;">Time</div>
            <div class="header-temp" style="flex-basis: 15%; color: #ffcc00; font-weight: bold; text-align: center; padding-right: 5px;">Temp</div>
            <div class="header-desc" style="flex-basis: 20%; color: #ffcc00; font-weight: bold; text-align: center; padding-right: 5px;">Condition</div>
            <div class="header-precip" style="flex-basis: 15%; color: #ffcc00; font-weight: bold; text-align: center; padding-right: 5px;">Precipitation</div>
            <div class="header-rain-prob" style="flex-basis: 15%; color: #ffcc00; font-weight: bold; text-align: center; padding-right: 5px;">Rain Prob.</div>
            <div class="header-humidity" style="flex-basis: 15%; color: #ffcc00; font-weight: bold; text-align: center; padding-right: 5px;">Humidity</div>
            <div class="header-wind" style="flex-basis: 13%; color: #ffcc00; font-weight: bold; text-align: center;">Wind Speed</div>
          </div>
      
          <!-- Scrollable Hourly Weather Data -->
          <div class="hourly-data" style="max-height: 300px; overflow-y: scroll; overflow-x: hidden; scrollbar-width: none; -ms-overflow-style: none;">
            <!-- Webkit Scrollbars -->
            <style>
              .hourly-data::-webkit-scrollbar {
                width: 0;
                background: transparent; /* Optional: to hide the scrollbar track */
              }
            </style>
            <div class="hour" *ngFor="let weather of selectedDay.hour; let i = index" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; padding: 10px; background: linear-gradient(145deg, rgba(45, 59, 74, 1), rgba(34, 47, 63, 1)); border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);">
              <div class="hour-time" style="flex-basis: 10%; color: white; font-weight: bold; font-size: 1rem; text-align: left; padding-right: 5px;">{{ weather.time | date: 'shortTime' }}</div>
              <div class="hour-temp" style="flex-basis: 10%; color: #ffcc00; font-weight: bold; font-size: 1.2rem; text-align: center; padding-right: 5px;">{{weather.temp_c}}°C</div>
              <div class="hour-desc" style="flex-basis: 20%; color: white; font-size: 1rem; text-align: center; padding-right: 5px;">{{weather.condition.text}}</div>
              <div class="hour-precip" style="flex-basis: 15%; color: rgb(255, 255, 255); font-size: 0.9rem; text-align: center; padding-right: 5px;">⛈️ {{weather.precip_mm}} mm</div>
              <div class="hour-rain-prob" style="flex-basis: 15%; color: rgb(255, 255, 255); font-size: 0.9rem; text-align: center; padding-right: 5px;">☔ {{weather.chance_of_rain}} %</div>
              <div class="hour-humidity" style="flex-basis: 10%; color: rgb(255, 255, 255); font-size: 0.9rem; text-align: center; padding-right: 5px;">💧 {{weather.humidity}}%</div>
              <div class="hour-wind" style="flex-basis: 10%; color: rgb(255, 255, 255); font-size: 0.9rem; text-align: center;"><i class="fas fa-wind"></i> {{weather.wind_kph}} kph</div>
            </div>
          </div>
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>
